In [1]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.14.tar.gz (82 kB)
     ---------------------------------------- 0.0/82.1 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/82.1 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/82.1 kB ? eta -:--:--
     -------------- ----------------------- 30.7/82.1 kB 186.2 kB/s eta 0:00:01
     ------------------ ------------------- 41.0/82.1 kB 195.7 kB/s eta 0:00:01
     -------------------------------------  81.9/82.1 kB 381.3 kB/s eta 0:00:01
     -------------------------------------- 82.1/82.1 kB 328.1 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in d:\imp\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in d:\imp\anaconda3\lib\site-packages (from kaggle) (2024.6.2)
Requirement already satisfied: python-dateutil in d:\imp\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in d:\imp\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in d:\imp\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in d:\imp\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in d:\imp\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in d:\imp\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in d:\imp\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in d:\imp\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in d:\imp\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\imp\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\imp\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in d:\imp\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.14-py3-none-any.whl size=105128 sha256=3b36c6781105b9d1dcad1425988c2b5bc51a813053f8098de33b9bdb813eb39f
  Stored in directory: c:\users\91620\appdata\local\pip\cache\wheels\89\bc\52\0d140fc172783e1e72e3af4dfc13015dc154527fafb95e65cd
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.14

In [3]:
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\91620\Sql-Python

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 276kB/s]
100%|##########| 200k/200k [00:00<00:00, 275kB/s]

In [5]:
import zipfile

In [11]:
zip_ref=zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [3]:
import pandas as pd

In [13]:
df=pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df.head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [39]:
df.describe()

,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,201.189714,229.756854,3.789574,3.484090
std,2885.163629,32063.693350,537.743203,623.245839,2.225110,1.114211
min,1.000000,1040.000000,0.000000,0.000000,1.000000,2.000000
25%,2499.250000,23223.000000,20.000000,20.000000,2.000000,2.000000
50%,4997.500000,56430.500000,50.000000,50.000000,3.000000,3.000000
75%,7495.750000,90008.000000,180.000000,210.000000,5.000000,4.000000
max,9994.000000,99301.000000,18110.000000,22640.000000,14.000000,5.000000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [25]:
df.isnull()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [17]:
#df.rename(columns={'Order Id':'order_id','City':'city'})

,order_id,Order Date,Ship Mode,Segment,Country,city,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [23]:
df.columns=df.columns.str.lower()

In [25]:
df.columns

Index(['order id', 'order date', 'ship mode', 'segment', 'country', 'city',
       'state', 'postal code', 'region', 'category', 'sub category',
       'product id', 'cost price', 'list price', 'quantity',
       'discount percent'],
      dtype='object')

In [31]:
df.columns=df.columns.str.replace(' ','_')

In [33]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [39]:
# derive new columns discount,sale,price and profit
df['discount']=df['list_price']*df['discount_percent']/100

In [41]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2

In [45]:
# what ia the sale price
df['sale_price']=df['list_price']-df['discount']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8

In [47]:
#what is the profit
df['profit']=df['sale_price']-df['cost_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [53]:

df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [55]:
#drop some column
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [88]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in d:\imp\anaconda3\lib\site-packages (2.2.9)

In [90]:
import mysql.connector as sql

In [98]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB 330.3 kB/s eta 0:00:01
   ------------------ --------------------- 20.5/45.0 kB 330.3 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 373.5 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [100]:
import pymysql

try:
    mydb = pymysql.connect(
        host="localhost",
        user="root",
        passwd="Ankit@123"
    )
    print("Connection to MySQL database was successful")
except pymysql.MySQLError as e:
    print(f"Error: {e}")
finally:
    if mydb:
        mydb.close()
        print("MySQL connection is closed")

Connection to MySQL database was successful
MySQL connection is closed

In [102]:
import pymysql

try:
    mydb = pymysql.connect(
        host="localhost",
        user="root",
        passwd="Ankit@123"
    )
    cursor = mydb.cursor()
    cursor.execute("SELECT VERSION()")
    version = cursor.fetchone()
    print(f"MySQL Server Version: {version[0]}")
except pymysql.MySQLError as e:
    print(f"Error: {e}")
finally:
    if mydb:
        cursor.close()
        mydb.close()
        print("MySQL connection is closed")

MySQL Server Version: 8.0.33
MySQL connection is closed

In [104]:
!pip install pandas mysql-connector-python SQLAlchemy

Requirement already satisfied: pandas in d:\imp\anaconda3\lib\site-packages (2.2.2)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Requirement already satisfied: SQLAlchemy in d:\imp\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: numpy>=1.26.0 in d:\imp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\imp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\imp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\imp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\imp\anaconda3\lib\site-packages (from SQLAlchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\imp\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in d:\imp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
    --------------------------------------- 0.3/14.3 MB 3.0 MB/s eta 0:00:05
   - -------------------------------------- 0.6/14.3 MB 5.1 MB/s eta 0:00:03
   -- ------------------------------------- 0.9/14.3 MB 4.5 MB/s eta 0:00:03
   ---- ----------------------------------- 1.6/14.3 MB 7.2 MB/s eta 0:00:02
   ----- ---------------------------------- 2.0/14.3 MB 6.6 MB/s eta 0:00:02
   ------- -------------------------------- 2.6/14.3 MB 8.4 MB/s eta 0:00:02
   ------- -------------------------------- 2.8/14.3 MB 7.0 MB/s eta 0:00:02
   ------- -------------------------------- 2.8/14.3 MB 7.2 MB/s eta 0:00:02
   -------- ------------------------------- 2.9/14.3 MB 6.2 MB/s eta 0:00:02
   ---------- ----------------------------- 3.9/14.3 MB 7.6 MB/s eta 0:00:02
   ----------- ---------------------------- 4.1/14.3 MB 7.2 MB/s eta 0:00:02
   ------------ --------------------------- 4.6/14.3 MB 7.5 MB/s eta 0:00:02
   ------------- -------------------------- 4.7/14.3 MB 7.6 MB/s eta 0:00:02
   -------------- ------------------------- 5.0/14.3 MB 7.0 MB/s eta 0:00:02
   -------------- ------------------------- 5.3/14.3 MB 7.2 MB/s eta 0:00:02
   --------------- ------------------------ 5.5/14.3 MB 6.8 MB/s eta 0:00:02
   ---------------- ----------------------- 6.0/14.3 MB 7.2 MB/s eta 0:00:02
   ----------------- ---------------------- 6.3/14.3 MB 7.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.8/14.3 MB 7.2 MB/s eta 0:00:02
   ------------------- -------------------- 7.0/14.3 MB 7.1 MB/s eta 0:00:02
   -------------------- ------------------- 7.5/14.3 MB 7.3 MB/s eta 0:00:01
   --------------------- ------------------ 7.6/14.3 MB 7.1 MB/s eta 0:00:01
   ---------------------- ----------------- 8.1/14.3 MB 7.2 MB/s eta 0:00:01
   ----------------------- ---------------- 8.3/14.3 MB 7.1 MB/s eta 0:00:01
   ------------------------ --------------- 8.7/14.3 MB 7.1 MB/s eta 0:00:01
   ------------------------ --------------- 8.9/14.3 MB 7.1 MB/s eta 0:00:01
   ------------------------- -------------- 9.3/14.3 MB 7.1 MB/s eta 0:00:01
   -------------------------- ------------- 9.6/14.3 MB 7.1 MB/s eta 0:00:01
   --------------------------- ------------ 10.0/14.3 MB 7.1 MB/s eta 0:00:01
   ----------------------------- ---------- 10.5/14.3 MB 7.5 MB/s eta 0:00:01
   ------------------------------ --------- 10.9/14.3 MB 7.7 MB/s eta 0:00:01
   ------------------------------- -------- 11.5/14.3 MB 7.7 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.3 MB 7.4 MB/s eta 0:00:01
   ---------------------------------- ----- 12.3/14.3 MB 7.6 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.3 MB 7.4 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 8.1 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.3 MB 8.0 MB/s eta 0:00:01
   -------------------------------------- - 14.0/14.3 MB 7.8 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 8.0 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 7.8 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 7.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [114]:
from sqlalchemy import create_engine

# Create engine
engine = create_engine('mysql+mysqlconnector://root:Ankit@123@localhost/orders')

In [116]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [118]:
!pip install pandas mysql-connector-python SQLAlchemy

Requirement already satisfied: pandas in d:\imp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in d:\imp\anaconda3\lib\site-packages (9.0.0)
Requirement already satisfied: SQLAlchemy in d:\imp\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: numpy>=1.26.0 in d:\imp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\imp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\imp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\imp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\imp\anaconda3\lib\site-packages (from SQLAlchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\imp\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in d:\imp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [122]:
from sqlalchemy import create_engine

# Create engine
engine = create_engine('mysql+mysqlconnector://root:Ankit@123@localhost/orders')

In [136]:
import pymysql

try:
    mydb = pymysql.connect(
        host="localhost",
        user="root",
        passwd="Ankit@123"
    )
    print("Connection to MySQL database was successful")
except pymysql.MySQLError as e:
    print(f"Error: {e}")
finally:
    if mydb:
        mydb.close()
        print("MySQL connection is closed")

Connection to MySQL database was successful
MySQL connection is closed

In [138]:
# Connect to the 'orders' database
mydb = pymysql.connect(
    host="localhost",
    user="root",
    passwd="Ankit@123",
    database="orders"
)

# Create a cursor object
cursor = mydb.cursor()

# SQL command to create a table
create_table_query = """
CREATE TABLE IF NOT EXISTS df_orders (
    order_id INT PRIMARY KEY,
    order_date DATE,
    ship_mode VARCHAR(20),
    segment VARCHAR(20),
    country VARCHAR(20),
    city VARCHAR(20),
    state VARCHAR(20),
    postal_code VARCHAR(20),
    region VARCHAR(20),
    category VARCHAR(20),
    sub_category VARCHAR(20),
    product_id VARCHAR(50),
    quantity INT,
    discount DECIMAL(7,2),
    sale_price DECIMAL(7,2),
    profit DECIMAL(7,2)
)
"""

# Execute the SQL command to create the table
cursor.execute(create_table_query)

# Close the cursor and connection
cursor.close()
mydb.close()

print("Table 'df_orders' created successfully")

Table 'df_orders' created successfully

In [144]:
import pandas as pd
import pymysql

# Assuming 'df' is your DataFrame containing the data to be inserted

# Establish connection to MySQL server
mydb = pymysql.connect(
    host="localhost",
    user="root",
    passwd="Ankit@123",
    database="orders"
)

# Create a cursor object
cursor = mydb.cursor()

# Example: Insert data from DataFrame into MySQL table
try:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        # Prepare data tuple
        data = (
            row['order_id'],
            row['order_date'],
            row['ship_mode'],
            row['segment'],
            row['country'],
            row['city'],
            row['state'],
            row['postal_code'],
            row['region'],
            row['category'],
            row['sub_category'],
            row['product_id'],
            row['quantity'],
            row['discount'],
            row['sale_price'],
            row['profit']
        )

        # SQL query to insert data into df_orders table
        insert_query = """
        INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """

        # Execute the SQL query
        cursor.execute(insert_query, data)

    # Commit changes to the database
    mydb.commit()
    print("Data inserted successfully into 'df_orders' table")

except pymysql.Error as e:
    print(f"Error: {e}")
    # Rollback in case of error
    mydb.rollback()

finally:
    # Close cursor and connection
    cursor.close()
    mydb.close()

Error: nan can not be used with MySQL

In [148]:
df.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,4,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,5,3.3,106.7,16.7

In [156]:
import pandas as pd
import pymysql

# Assuming 'df' is your DataFrame containing the data to be inserted

# Replace NaN with None in the DataFrame
df = df.where(pd.notnull(df), None)

# Establish connection to MySQL server
mydb = pymysql.connect(
    host="localhost",
    user="root",
    passwd="Ankit@123",
    database="orders"
)

# Create a cursor object
cursor = mydb.cursor()

try:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        # Prepare data tuple
        data = (
            row['order_id'],
            row['order_date'],
            row['ship_mode'],
            row['segment'],
            row['country'],
            row['city'],
            row['state'],
            row['postal_code'],
            row['region'],
            row['category'],
            row['sub_category'],
            row['product_id'],
            row['quantity'],
            row['discount'],
            row['sale_price'],
            row['profit']
        )

        # SQL query to insert data into df_orders table
        insert_query = """
        INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """

        # Execute the SQL query
        cursor.execute(insert_query, data)

    # Commit changes to the database
    mydb.commit()
    print("Data inserted successfully into 'df_orders' table")

except pymysql.Error as e:
    print(f"Error: {e}")
    # Rollback in case of error
    mydb.rollback()

finally:
    # Close cursor and connection
    cursor.close()
    mydb.close()

Data inserted successfully into 'df_orders' table

In [ ]:
df[